@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --bg-color: #5e5e5e;
    --primary-color: #fff2f2;
    --secondary-color: linear-gradient(to bottom, rgb(165, 0, 0), rgb(255, 3, 3));
    --text-color: #312e2e;
    --border-color: #fbff09;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    background: var(--text-color);
    color: var(--bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.statBox {
    width: auto;
    height: auto;
    background: var(--primary-color);
    padding: 35px;
    border: 4px solid red;
    border-radius: 15px;
    display: flex;
    gap: 40px;
}


.details h1 {
    font-size: 50px;
}

.details p {
    font-size: 20px;
}

#progressBar {
    background: lightgray;
    margin-top: 15px;
    width: 100%;
    height: 15px;
    border-radius: 8px;
    transition: all .8s ease;
}

#progressLine {
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, red, rgb(54, 10, 10));
    border-radius: 10px;
    transition: all .3s ease;
}

#numbers {
    width: 100px;
    height: 100px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
    color: var(--border-color);
    transition: all .3s ease;
}

#numbers:hover {
    transform: scale(1.2);
}

.infoBox {
    width: auto;
    height: auto;
}

form {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}

input {
    width: 445px;
    flex: 1;
    padding: 10px;
    font-size: 20px;
    color: rgb(141, 0, 0);
    background: var(--primary-color);
    border: 2px solid red;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    text-transform: capitalize;
}

button {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 2px solid red;
    border-radius: 10px;
    background: #fff2f2;
    transition: all .5s ease;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to bottom, rgb(165, 0, 0), rgb(255, 3, 3));
    color: #fff2f2;
}

.infoList {
    width: 100%;
    list-style: none;
    margin-top: 10px;
}

.taskItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left bottom, rgb(165, 0, 0), rgb(255, 3, 3));
    padding: 10px;
    margin-top: 20px;
    border: 2px solid gold;
    border-radius: 10px;
    align-items: center;
}

.taskItem .icons {
    margin: 10px;
    width: 20px;
    color: white;
    cursor: pointer;
}

.taskItem .icons .edit {
    margin-bottom: 10px;
}

.taskItem .task {
    display: flex;
    align-items: center;
    color: white;
}

.taskItem .task p {
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 20px;
}

.taskItem .task .checkbox {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.taskItem .task .checkbox:checked {
    accent-color: gold;
}

.completed p {
    text-decoration: line-through;
    opacity: 0.6;
}

@media (max-width: 600px) {
    .statBox {
        margin-right: 10px;
        margin-left: 10px;
        width: auto;
        height: auto;
        background: var(--primary-color);
        padding: 20px;
        border: 4px solid red;
        border-radius: 15px;
        display: flex;
        gap: 20px;
    }

    #numbers {
        width: 50px;
        height: 50px;
        font-size: 15px;
    }

    .details h1 {
        font-size: 21px;
    }

    .details p {
        font-size: 12px;
    }

    #progressBar {
        height: 12px;
    }

    form input {
        width: 232px;
        font-size: 15px;
    }

    form button {
        width: 40px;
        font-size: 18px;
    }

    .taskItem .icons {
        width: auto;
        display: flex;
    }
    
    .taskItem .icons .edit {
        margin-right: 8px;
    }

    .taskItem .task p {
        font-size: 15px;
    }

    .taskItem .task .checkbox {
        width: 18px;
        height: 18px;
    }   
}